@import "~shared/less/variables.less";

.Intro {
    color: #ebebeb;


    &--logo {
        position: absolute;
        top: 5vw;
        left: 3vw;
    }

    &--logo-linha {
        display: none;
    }
    &--logo-icon {
        position: absolute;
        top: 0vw;
        width: 7.6vw;
        left: 13.2vw;
    }
    &--logo-logo {
        position: absolute;
        width: 59vw;
        top: 3.7vw;
        left: 22.5vw;
    }
    &--slogan {
        display: none;
    }
    &--highlight {

        &-title {
            position: absolute;
            font-size: 2.88vw;
            text-transform: uppercase;
            letter-spacing: 0.16em;
            margin: 0;
            .font-medium();
            width: 100%;
            top: 23vw;
            text-align: center;
            text-indent: 1.1vw;
        }
        &-text {
            display: none;
        }
        &-calltoaction {
            display: block;
            background-color: #1279ab;
            text-transform: uppercase;
            text-decoration: none;
            color: #ebebeb;
            width: 41.5vw;
            line-height: 10.6vw;
            text-align: center;
            padding-top: 0.55vw;
            border-radius: 0.6vw;
            font-size: 3.5vw;
            .font-bold();
            position: absolute;
            top: 66.4vw;
            left: 29.6vw;
        }
    }
}