@import "~shared/less/variables.less";

.TwinCooling {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 28.47vw;
    background-color: rgba(255,255,255, 0.9);
    padding: 3.6vw 5.7vw;
    box-sizing: border-box;

    &--title-first{
        .font-medium();
        margin: 0;
        color: #687588;
        font-size: 2.7vw;
        letter-spacing: 0.150em;
    }
    &--title-second {
        .font-medium();
        margin: 0;
        color: #4a586d;
        font-size: 3.1vw;
        display: inline-block;
        margin-top: 0.8vw;
        letter-spacing: 0.045em;
    }
    &--title-third {
        .font-medium();
        margin: 0;
        color: #6591d4;
        font-size: 3.1vw;
        display: inline-block;
        margin-top: 0.8vw;
        letter-spacing: 0.04em;
        margin-left: 0.5vw;
    }
    &--text {
        .font-regular();
        margin: 0;
        color: #687588;
        font-size: 2.2vw;
        letter-spacing: 0.045em;
        line-height: 3.25vw;
        margin-top: 1.7vw;
    }
}