.Containers {
    &--item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        position: relative;
    }
    &--intro {
        height: 56.25vw;
        background-image: url('../img/bg-intro.jpg');
    }
    &--videos {
        height: 28.28vw;
    }
    &--twin-cooling {
        height: 50vw;
        background-image: url('../img/bg-twin-cooling.jpg');
    }
}