@import "~shared/less/variables.less";

.Intro {
    color: #ebebeb;


    &--logo {
        position: absolute;
        top: 5vw;
        left: 3vw;
    }

    &--logo-linha {
        position: absolute;
        width: 5vw;
        top: 1.5vw;
        left: 7.3vw;
        height: 10vw;

        &:before, &:after {
            position: absolute;
            content: '';
            width: 100%;
            background-color: #fff;
            opacity: 0.5;
            height: 0.15vw;
            display: block;
        }
        &:after {
            bottom: 0;
        }
    }
    &--logo-icon {
        position: absolute;
        top: 0.7vw;
        width: 6vw;
    }
    &--logo-logo {
        position: absolute;
        width: 27.8vw;
        top: 6.5vw;
        left: 7vw;
    }
    &--slogan {
        position: absolute;
        left: 7.1vw;
        top: 3.2vw;
        width: 40vw;
        letter-spacing: 0.05em;
        font-size: 1.88vw;
        margin: 0;
        .font-medium();
    }
    &--highlight {
        position: absolute;
        top: 34.45vw;
        left: 3vw;


        &-title {
            font-size: 1.88vw;
            text-transform: uppercase;
            letter-spacing: 0.055em;
            padding-bottom: 1vw;
            margin: 0;
            .font-medium();
        }
        &-text {
            font-size: 1.5vw;
            letter-spacing: 0.069em;
            width: 40vw;
            line-height: 2.1vw;
            margin: 0;
            .font-medium();
        }
        &-calltoaction {
            display: block;
            background-color: #1279ab;
            text-transform: uppercase;
            text-decoration: none;
            color: #ebebeb;
            margin: 3.8vw 0 0 0 ;
            width: 13.5vw;
            line-height: 3.8vw;
            text-align: center;
            padding-top: 0.15vw;
            border-radius: 0.2vw;
            font-size: 1.3vw;
            .font-medium();
        }
    }
}