@import "~shared/less/variables.less";

.TwinCooling {
    position: absolute;
    top: 16.4vw;
    width: 31.9vw;
    right: 7.3vw;

    &--title-first{
        .font-medium();
        margin: 0;
        color: #687588;
        font-size: 1.4vw;
        margin-bottom: 1.9vw;
    }
    &--title-second {
        .font-bold();
        margin: 0;
        color: #45689b;
        font-size: 2.1vw;
    }
    &--title-third {
        .font-bold();
        margin: 0;
        color: #5c7dad;
        font-size: 2.1vw;
        letter-spacing: 0.065em;
        margin-bottom: 1.2vw;
    }
    &--text {
        .font-regular();
        margin: 0;
        color: #687588;
        font-size: 1.25vw;
        letter-spacing: 0.045em;
        line-height: 1.75vw;
    }
}