@import "~shared/less/variables.less";
.Videos {
    background-color: #000;

    &--video-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: opacity 0.5s ease;

    }
    &--video {
        float: left;
        position: relative;
        overflow: hidden;
        width: 50%;
        height: 100%;
        text-align: center;
        cursor: pointer;
        &:hover .Videos--video-bg {
            opacity: 0.9;
        }

        &-01{
            text-indent: -1vw;
            .Videos--video-bg {
                opacity: 0.65;
                background-image: url('../../img/bg-video-01.jpg');
            }
        }
        &-02 .Videos--video-bg {
            opacity: 0.60;
            background-image: url('../../img/bg-video-02.jpg');
        }
    }
    &--play {
        position: relative;
        width: 7.5vw;
        margin-top: 8.6vw;
    }
    &--title {
        position: relative;
        color: #ebebeb;
        .font-medium();
        font-size: 1.5vw;
        text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.65);
        letter-spacing: 0.08em;
        margin: 1vw 0 0 0;
    }
}