@import "fonts/fonts.less";

.font-regular {
    font-family: 'Samsung Sharp Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.font-medium {
    font-family: 'Samsung Sharp Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
}
.font-bold {
    font-family: 'Samsung Sharp Sans', sans-serif;
    font-weight: 800;
    font-style: normal;
}