.Containers {
    &--item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        position: relative;
    }
    &--intro {
        height: 84.45vw;
        background-image: url('../img/bg-intro.jpg');
    }
    &--videos {
        height: 99.45vw;
    }
    &--twin-cooling {
        transition: height 2s ease;
        height: 79.86vw;
        &--aberto {
            height: 107.74vw;
        }
        background-size: 100% auto;
        background-position: center top;
        background-color: #fff;
        background-image: url('../img/bg-twin-cooling.jpg');
    }

}