<% var translate = htmlWebpackPlugin.options.translate; %><!doctype html>
<html class="no-js" lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= translate.title  %></title>
  <meta name="description" content="<%= translate.description  %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="./assets/init.bundle.css" media="all">-->
</head>
<body>
  <div id="loading" style="background: rgba(255, 255, 255, 0.98); position: fixed; z-index: 1000; top: 0; left:0; width: 100vw; height: 100vh">
    <img src="<%= require('shared/img/loading.svg') %>" style="position: fixed; left: 50vw; top: 50vh; transform: translate(-50%,-50%);"/>
  </div>
  <main class="Containers">
    <section class="Containers--item Containers--intro Intro">
      <div class="Intro--logo">
        <div class="Intro--logo-linha"></div>
        <img src="<%= require('shared/img/ico-twin-cooling.png') %>" class="Intro--logo-icon" alt="Icone Twin Cooling Plus"/>
        <img src="<%= require('shared/img/logo.png') %>"class="Intro--logo-logo" alt="<%= translate['intro-title-logo'] %>"/>
        <h2 class="Intro--slogan">
          <%= translate['intro-title-slogan'] %>
        </h2>
      </div>
      <div class="Intro--highlight">
        <h3 class="Intro--highlight-title">
          <%= translate['intro-highlight-title'] %>
        </h3>
        <p class="Intro--highlight-text">
          <%= translate['intro-highlight-text'] %>
        </p>
        <a href="" class="Intro--highlight-calltoaction">
          <%= translate['intro-highlight-calltoaction'] %>
        </a>
      </div>
    </section>
    <section class="Containers--item Containers--videos Videos">
      <div class="Videos--video Videos--video-01" data-mfp-src="<%= translate['videos-video-01-url'] %>">
        <div class="Videos--video-bg"></div>
        <img src="<%= require('shared/img/ico-play.png') %>" class="Videos--play"/>
        <p class="Videos--title">
          <%= translate['videos-video-01-title'] %>
        </p>
      </div>
      <div class="Videos--video Videos--video-02" data-mfp-src="<%= translate['videos-video-02-url'] %>">
        <div class="Videos--video-bg"></div>
        <img src="<%= require('shared/img/ico-play.png') %>" class="Videos--play"/>
        <p class="Videos--title">
          <%= translate['videos-video-02-title'] %>
        </p>
      </div>
    </section>
    <section class="Containers--item Containers--twin-cooling ">
      <div class="TwinCooling">
        <h4 class="TwinCooling--title-first">
          <%= translate['twin-cooling-title-first'] %>
        </h4>
        <h3 class="TwinCooling--title-second">
          <%= translate['twin-cooling-title-second'] %>
        </h3>
        <h2 class="TwinCooling--title-third">
          <%= translate['twin-cooling-title-third'] %>
        </h2>
        <p class="TwinCooling--text">
          <%= translate['twin-cooling-text'] %>
        </p>
      </div>
    </section>

  </main>

  <script src="./assets/init.bundle.js"></script>
</body>
</html>
